nav.nav-wrap {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #32323c;
    min-height: 48px;
}

nav img.nav-logo {
    height: 68px;
}