.wrapper {
    max-width: 1032px;
    margin: 0 auto;
    padding: 0 24px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.column.left{
    width: 65%;
}

.column.right {
    width: 35%;
}

.wrapper-flex {
    display: flex;
    flex-direction: row;
}

.wrapper-flex.space-between {
    justify-content: space-between;
}

button {
    height: 49px;
    min-width: 70px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button.primary {
    background-color: #6EC0E6;
    border-color: #589AB8;
    color: #FFF;
}

button.secondary {
    background-color: #FBFDFD;
    border-color: #EDF0F3;
    color: #768895;
}

a {
    text-decoration: none;
    color: #6EC0E6;
}

.padding-top-md {
    padding-top: 30px;
}

.padding-bottom-md {
    padding-bottom: 30px;
}

.padding-top-sm {
    padding-top: 15px;
}

.padding-left-sm {
    padding-left: 15px;
}

.margin-right-md {
    margin-right: 30px;
}


.padding-bottom-sm {
    padding-bottom: 15px;
}

.margin-right-sm {
    margin-right: 15px;
}

.margin-left-sm {
    margin-left: 15px;
}

h2, h4 {
    color: #616161;
}

@media screen and (max-width: 600px) {
    .transactions-wrapper.wrapper-flex {
        display: flex;
        flex-direction: column;
    }
}