@font-face {
  font-family: 'PostGrotesk-Medium';
  src: local('PostGrotesk-Medium'), url(./assets/fonts/PostGrotesk-Medium.woff) format('woff');
}
@font-face {
  font-family: 'PostGrotesk-Light';
  src: local('PostGrotesk-Light'), url(./assets/fonts/PostGrotesk-Light.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: PostGrotesk-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}