.button-next {
    height: 49px;
    width: 70px;
    border-radius: 5px;
    background-color: #6EC0E6;
    border-color: #589AB8;
    color: #FFF;
    font-size: 14px;
}

.amount-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    align-items: center;
    padding: 0 24px;
}

.amount {
    padding: 15px 3px;
    line-height: 1px;
}

.amount h4 {
    color: #6EC0E6;
}

.amount input {
    width: 100%;
    display: block;
    border: none;
    background-color: white;
    font-size: 28px;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    height: 60px;
    border: 1px solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FAFAFA;
    border-color: #E0E0E0;
    padding: 0 7px;
}

.currency h2 {
    color: #616161;
}

.next-container {
    padding: 25px 0;
}